.panel-total {
    text-align: right;
}

.total-container {
    /*margin-right: 0;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.total-label {
    font-size: 2em;
    margin-right: 10px;
}

.total-data {
    font-size: 3em;
    font-weight: bolder;
    font-family: Georgia,"Times New Roman",Times,serif;;
}

.inline {
    display: inline-block;
}
