 .peg, .wheelSVG {
 visibility: hidden;
}
.wheelContainer, body, html {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
.centerCircle, .valueContainer, .wheelOutline, .wheelText {
 pointer-events: none;
}
.toast, .wheelContainer, body, html {
 text-align: center;
}
.wheelContainer, button {
 transform: translate(-50%, 0);
}
.toast, button {
 position: absolute;
 background-color: #D71559;
}
body {
 background-color: #2d2d2d;
 background-image: url("/images/wing_bg.jpg");
 background-repeat:no-repeat;
 background-size: 100% 100%;
 overflow: hidden;
}
body, html {
 margin: 0;
 padding: 0;
}
.wheelContainer {
 position: absolute;
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
 left: 50%;
 top: 100px;
}
.wheelSVG {
 position: absolute;
 overflow: visible;
 width: 100%;
 height: auto; 
}
.wheelText {
 text-anchor: middle;
 font-family: 'Fjalla One', Arial, sans-serif;
 -webkit-user-select: none;
 user-select: none;
}
.toast {
 border-radius: 12px;
 opacity: 0;
}
.toast p {
 clear: both;
 font-family: 'Fjalla One', Arial, sand-serif;
 margin: 23px;
 font-size: 42px;
 color: #ededed;
 letter-spacing: 0;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 line-height: 50px;
 -webkit-transition: line-height .2s ease;
 transition: line-height .2s ease;
}
button {
 left:50%;
 width: 80%;
 top: 20px;
 max-width: 400px;
 padding: 20px;
 font-weight: 700;
 font-size: 32px;
 color: #ededed;
 border-radius: 6px;
 box-shadow: 0 2px 0 rgb(129, 19, 58);
 border: none;
 cursor: pointer;
 font-family: "Fjalla One", Helvetica, Arial, sans-serif;
}
a.btnDone{
    left: 43%;
    width: 30%;
    max-width: 100px;
    padding: 20px;
    font-weight: 700;
    font-size: 32px;
    color: #ededed;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-family: "Fjalla One", Helvetica, Arial, sans-serif;
    position: absolute;
    background-color: #8BC34A;
}
@media only screen and (max-width: 480px) {
 .toast p, .toast span {
  font-size: 18px;
  line-height: 18px;
 }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
 .toast p, .toast span {
  font-size: 38px;
  line-height: 38px;
 }
}
@media only screen and (min-width: 801px) {
 .toast p, .toast span {
  font-size: 58px;
  line-height: 60px;
 }
 .wheelSVG {
  width: 70%;
  top: 50px;
 }
}
@media only screen and (max-height: 480px) {
 .toast p, .toast span {
  font-size: 33px;
  line-height: 35px;
 }
 button {
  font-size: 22px;
  padding: 10px;
  width: 60%;
 }
 .wheelContainer {
  top: 70px;
 }
}
button:focus {
 outline: 0;
}
@media only screen and (min-width: 300px) {
    .toast p, .toast span {
     font-size: 42px;
     line-height: 50px;
    }
    button {
     font-size: 16px;
     padding: 10px;
     width: 60%;
    }
    .wheelContainer {
     top: 100px;
    }
}
@media only screen and (min-width: 370px) {
    .toast p, .toast span {
     font-size: 42px;
     line-height: 50px;
    }
    button {
     font-size: 22px;
     padding: 10px;
     width: 60%;
     top: 40px;
    }
    .wheelContainer {
     top: 150px;
    }
    .wheelText {
    font-size: 30px;
    }
}